html, body {
    background-color: black;
    color: white;
    font-family: Verdana, sans-serif;
    font-weight: normal;
    padding: 0px;
    display: block;
    text-align: center;
}


}

h1 {
    font-size: 50px;
    font-family: Verdana, sans-serif;
    font-weight: normal;
    margin: 33px 0px;

}

p {
    font-size: 16px;
    color: gray;
    margin: 21px 0px;
}

.video {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 20px;
}


.right {
    text-align: right;
    color: gray;
}